* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: 'Mukta', sans-serif;
}
#panel a{
  background-color: rgb(18, 18, 18);
  min-width: 16.66vw;
  text-decoration: none;
  min-height: 13vh;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  font-size: 25px;
  color: white
}
#panel a:hover{
  background-color: #ffffff;
  color: black;
  transition: 0.5s;
}
#header{
  min-height: 30vh;
  margin-bottom: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 40px;
}
#header a {
  color:white;
  text-decoration: none;
}

#panel{
  display: flex;
  overflow: hidden;
  position: static
}

.content {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(127,199,255);
  overflow-y: hidden;
  transition: 0.7s;
}

.content_text {
  position: relative;
  top: 10%;
  display: block;
  margin: auto;
  width: 50%;
  text-align: center;
}

.content a {
  text-decoration: none;
  font-size: 60px;
  color: #FFF8E7;
  display: block;
  text-align: center;
  padding: 8px;
  transition: 0.3s;
}

.content a:hover {
  color: #252850;
}

.content .closebtn {
  position: absolute;
  margin-top: -75px;
  margin-left: -8px;
  font-size: 40px;
  color:  #FFF8E7;
}

.openbtn{
  font-family: 'Mukta', sans-serif;
  font-size: 30px;
  color: white;
  margin-top: -8px;
}

.content_text h2{
  font-family: 'Mukta', sans-serif;
  font-size: 40px;
  color: #252850;
  text-transform: uppercase;
}

.content h1{
 color: white;
 font-family: 'Mukta', sans-serif;
  font-size: 24px;
  margin-left: 665px;
  margin-top: 15px;
}

hr{
  width: 450px;
}

/*-------------------------------------------------------------------------------------------------------------------------*/




 /*-------------------------------------------------------------------------------------------------------------------------*/

 #guide{
   margin-top: 150px;
   margin-bottom: 200px;
 }
 #guide_btn{
        width: 100%;
        height: 100px;
        text-align: center;
      }

      .guide_text {
        position: relative;
        width: 1200px;
        margin:  auto;
           }


    .guide_text:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
        width: 6px;
        background-color: white;
       }

     .block {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
        border-top-left-radius: 100% 20px;
        border-bottom-right-radius: 100% ;
        }

     .block:after {
        content: "";
        position: absolute;
        top: 0 ;
        width: 40px;
        height: 40px;
        background-color: white;
        border: 4px solid white;
        border-radius: 50%;
        z-index: 1;
          }

     .left {
        right: 80px;
          }


     .right {
         left: 50%;
       }

      .right:after {
        left: -25px;
        top:-5px;
          }

      .left:after {
          right: -25px;
           }


       .text_block {
           padding: 20px;
           background-color: white;
           border:2px solid #FFDB58;
           border-radius: 0 0 20px 20px;
             }

.text_block h2{
  font-family: 'Mukta', sans-serif;
  font-size: 26px;
  color: #252850;
  text-transform: uppercase;

}
.text_block  p{
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
  color:white;

}


/*------------------------------------------------------------------------------------------------------------------------------------------------*/

#footer{
    padding-left: 80px;
   padding-bottom: 8px;
   height: 350px;
   margin-top: 80px;

}

blockquote{
  background-color: #FFFAFA;
  opacity: .9;
  font-family: 'Mukta', sans-serif;
  font-size: 24px;
  color: #ffffff;
    margin-left: -90px;
  margin-right: -8px;
  margin-top: -10px;
  padding: 15px 0;
  text-align: center;
}


.copyrightText{
  font-size: 16px;
    color: #ffffff;
  font-weight: 700px;
  font-family: 'Mukta', sans-serif;
  text-align: center;
}

.col {
  float: left;
  padding: 10px;
  height: 200px;
}

.leftcol_f {
  width: 35%;
  text-align: left;
   margin-top: -8px;
  margin-left: -8px;
   border-right: 2px inset  #ffffff;
  padding-top: 0;
}

.centercol_f {
  width: 30%;
  text-align: center;
  border-right: 2px inset  #ffffff;
}

.rightcol_f{
  width: 30%;
   text-align: center;
}

#footer .logo{
  width: 200px;
  height: 200px;
  margin-left: 80px;
 }

 .address{
  color: white;
  font-size: 12px;
  line-height: 1.6em;
  font-family: 'Mukta', sans-serif;
  text-transform: capitalize;
}

footer h4{
     font-family: 'Mukta', sans-serif;
     font-size: 28px;
     color: white;
}

footer a{
  color: white;
  text-decoration: none;

}

footer a:hover{
  color: gray ;
  transition-duration: 0.5s;

}
